<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Máy</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="container mt-4">
    <div class="card p-4 shadow-sm">
    <h2 class="mb-4">Thêm Máy</h2>
    <form th:action="@{/may/save}" th:object="${may}" method="post">
        <div class="mb-4">
            <label class="form-label">Mã Máy</label>
            <input type="text" th:field="*{maMay}" class="form-control" required>
        </div>
        <div class="mb-4">
            <label class="form-label">Vị trí</label>
            <input type="text" th:field="*{viTri}" class="form-control" required>
        </div>
        <div class="mb-4">
            <label class="form-label">Trạng Thái</label>
            <input type="text" th:field="*{trangThai}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Lưu</button>
        <a th:href="@{/may}" class="btn btn-secondary">Hủy</a>
    </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
